#wrap-card{
    padding-bottom: 0px;
    background-color:  #5699ba;
}



.card-title{
    margin: auto;
    font-size: 40px;
}
#login-card{
    
    margin:auto ;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fff;
    width:350px;
    height:400px;
}
#login-form{
margin-top:10px ;
padding-top: 10px;
padding-bottom: 10px;
margin-left:80px ;
background-color:#ebebeb;
}
#pass-form{
    margin-top:20px;
    padding-top: 10px;
     padding-bottom: 10px;
    margin-left:80px ;
    background-color:#ebebeb;
    
}
#login-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top:20px;
    margin-left:80px;
    margin-bottom: 10px;
    background-color:  #5699ba;
    color: #fff;
}